:root {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
} */

button {
  border: none;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
  text-transform: none;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

input,
textarea {
  line-height: 1.15;
}

textarea {
  overflow: auto;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: #f0f2f5;
}

.app-title {
  text-align: center;
}

.app-grid {
  display: flex;
  flex-wrap: wrap;
}

.app-grid > div {
  flex: 1 1 600px;
  margin: 0.5rem;
}

ul,
ol {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  margin-right: 2rem;
  margin-left: 2rem;
}

code,
pre {
  background-color: #333;
  color: #fff;
  padding: 0.25rem;
  font-size: inherit;
}

pre {
  margin-bottom: 1rem;
}
